USE [DBNoiThat]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetValueId]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetValueId] (
    @AttributeCode VARCHAR(50),
    @Value NVARCHAR(100)
)
RETURNS INT
AS
BEGIN
    DECLARE @Result INT;

    SELECT @Result = av.ValueId
    FROM dbo.AttributeValue av
    INNER JOIN dbo.Attribute a ON av.AttributeId = a.AttributeId
    WHERE a.Code = @AttributeCode
      AND av.Value = @Value;

    RETURN @Result;
END;

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attribute](
	[AttributeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[DisplayType] [varchar](20) NULL,
	[IsRequired] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeValue]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeValue](
	[ValueId] [int] IDENTITY(1,1) NOT NULL,
	[AttributeId] [int] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[DisplayValue] [nvarchar](100) NULL,
	[ColorCode] [varchar](10) NULL,
	[Description] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Attribut__93364E48FED54657] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Card]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[NumberCard] [int] NULL,
	[UserNumber] [int] NULL,
	[UserId] [int] NULL,
	[Identification] [int] NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MetaTitle] [nvarchar](50) NULL,
	[ParId] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MessageText] [nvarchar](1000) NOT NULL,
	[IsFromAdmin] [bit] NOT NULL,
	[SentAt] [datetime] NOT NULL,
 CONSTRAINT [PK__ChatMess__C87C0C9C5F56E682] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[EmailCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[CredenId] [int] IDENTITY(1,1) NOT NULL,
	[UserGroupId] [nvarchar](50) NULL,
	[RoleId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[CredenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[GioHangId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[VariantId] [int] NULL,
	[VariantInfo] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.GioHang] PRIMARY KEY CLUSTERED 
(
	[GioHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[DateUpdate] [date] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[ShipName] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[ShipPhone] [nvarchar](max) NULL,
	[ShipEmail] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[StatusId] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[VariantId] [int] NULL,
	[VariantInfo] [nvarchar](200) NULL,
 CONSTRAINT [PK_OrderDetailId] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[CateId] [int] NULL,
	[Photo] [nvarchar](255) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Discount] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[ImageVariant] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[WarehouseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductVariant_Old]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant_Old](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantName] [nvarchar](100) NULL,
	[Size] [nvarchar](20) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[ReType] [nvarchar](50) NULL,
	[ChatLieuChau] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[PriceAdjustment] [int] NULL,
	[Stock] [int] NULL,
	[IsActive] [bit] NULL,
	[SizeNote] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provider]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockCheck]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockCheck](
	[CheckId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[CheckDate] [datetime] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [int] NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockCheckDetail]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCheckDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[CheckId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[SystemQuantity] [int] NOT NULL,
	[ActualQuantity] [int] NOT NULL,
	[Difference] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockHistory]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[ReferenceType] [varchar](20) NULL,
	[ReferenceId] [int] NULL,
	[QuantityBefore] [int] NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[QuantityAfter] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockIn]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockIn](
	[StockInId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[Type] [varchar](20) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [int] NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
 CONSTRAINT [PK__StockIn__794DA66C819F88AA] PRIMARY KEY CLUSTERED 
(
	[StockInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockInDetail]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[StockInId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockOut]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockOut](
	[StockOutId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[Type] [varchar](20) NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [int] NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockOutDetail]    Script Date: 1/8/2026 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOutDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[StockOutId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[GroupId] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroups](
	[GroupId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VariantAttributeValue]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantAttributeValue](
	[VariantId] [int] NOT NULL,
	[ValueId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
 CONSTRAINT [PK_VariantAttributeValue] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC,
	[AttributeId] ASC,
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Warehouse](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [varchar](20) NULL,
	[ManagerName] [nvarchar](100) NULL,
	[ManagerPhone] [varchar](20) NULL,
	[Type] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WarehouseStock]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseStock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[MinStock] [int] NULL,
	[MaxStock] [int] NULL,
	[Location] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_ProductVariantDetail]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductVariantDetail]
AS
SELECT
    p.Name AS ProductName,
    pv.SKU,
    pv.Price,
    STUFF((
        SELECT ', ' + a2.Name + ': ' + av2.DisplayValue
        FROM VariantAttributeValue vav2
        JOIN AttributeValue av2 ON vav2.ValueId = av2.ValueId
        JOIN Attribute a2 ON av2.AttributeId = a2.AttributeId
        WHERE vav2.VariantId = pv.VariantId
        ORDER BY a2.DisplayOrder
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Attributes
FROM ProductVariant pv
JOIN Product p ON pv.ProductId = p.ProductId
WHERE pv.IsActive = 1;

GO
SET IDENTITY_INSERT [dbo].[Attribute] ON 

INSERT [dbo].[Attribute] ([AttributeId], [Name], [Code], [DisplayType], [IsRequired], [DisplayOrder], [IsActive]) VALUES (1, N'Kích thước', N'size', N'button', NULL, 1, 1)
INSERT [dbo].[Attribute] ([AttributeId], [Name], [Code], [DisplayType], [IsRequired], [DisplayOrder], [IsActive]) VALUES (2, N'Tình trạng', N'condition', N'button', NULL, 2, 1)
INSERT [dbo].[Attribute] ([AttributeId], [Name], [Code], [DisplayType], [IsRequired], [DisplayOrder], [IsActive]) VALUES (3, N'Loại rễ', N'root_type', N'button', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Attribute] OFF
SET IDENTITY_INSERT [dbo].[AttributeValue] ON 

INSERT [dbo].[AttributeValue] ([ValueId], [AttributeId], [Value], [DisplayValue], [ColorCode], [Description], [DisplayOrder], [IsActive]) VALUES (2, 1, N'Size Mini (XS) ( 5 – 15 cm)', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[AttributeValue] ([ValueId], [AttributeId], [Value], [DisplayValue], [ColorCode], [Description], [DisplayOrder], [IsActive]) VALUES (3, 1, N'Size Nhỏ (S) (15 – 30 cm)', NULL, NULL, NULL, 2, 1)
INSERT [dbo].[AttributeValue] ([ValueId], [AttributeId], [Value], [DisplayValue], [ColorCode], [Description], [DisplayOrder], [IsActive]) VALUES (4, 2, N'Sống tốt 100%', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[AttributeValue] OFF
SET IDENTITY_INSERT [dbo].[Card] ON 

INSERT [dbo].[Card] ([CardId], [NumberCard], [UserNumber], [UserId], [Identification]) VALUES (1, NULL, 50000, 3, NULL)
INSERT [dbo].[Card] ([CardId], [NumberCard], [UserNumber], [UserId], [Identification]) VALUES (2, 1002, 75000, 4, 987654321)
INSERT [dbo].[Card] ([CardId], [NumberCard], [UserNumber], [UserId], [Identification]) VALUES (3, 1003, 120000, 5, 456789123)
SET IDENTITY_INSERT [dbo].[Card] OFF
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([CartItemId], [UserId], [ProductId], [VariantId], [Quantity], [Price], [CreateDate], [UpdateDate]) VALUES (1, 3, 1, 2, 1, 300000, CAST(N'2025-12-13 15:33:17.180' AS DateTime), NULL)
INSERT [dbo].[CartItem] ([CartItemId], [UserId], [ProductId], [VariantId], [Quantity], [Price], [CreateDate], [UpdateDate]) VALUES (2, 4, 12, 13, 2, 50000, CAST(N'2025-12-13 15:33:17.180' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
INSERT [dbo].[Category] ([CategoryId], [Name], [MetaTitle], [ParId], [IsActive]) VALUES (1, N'Cây để bàn', N'cay-de-ban', 0, 1)
INSERT [dbo].[Category] ([CategoryId], [Name], [MetaTitle], [ParId], [IsActive]) VALUES (2, N'Cây nội thất', N'cay-noi-that', 0, 1)
INSERT [dbo].[Category] ([CategoryId], [Name], [MetaTitle], [ParId], [IsActive]) VALUES (3, N'Cây phong thủy', N'cay-phong-thuy', 0, 1)
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 

INSERT [dbo].[ChatMessage] ([MessageId], [UserId], [MessageText], [IsFromAdmin], [SentAt]) VALUES (1, 3, N'Xin chào, tôi cần tư vấn về cây phong thủy', 0, CAST(N'2025-01-19 09:00:00.000' AS DateTime))
INSERT [dbo].[ChatMessage] ([MessageId], [UserId], [MessageText], [IsFromAdmin], [SentAt]) VALUES (2, 3, N'Chào bạn! Bạn cần tư vấn về cây phong thủy cho không gian nào ạ?', 1, CAST(N'2025-01-19 09:01:00.000' AS DateTime))
INSERT [dbo].[ChatMessage] ([MessageId], [UserId], [MessageText], [IsFromAdmin], [SentAt]) VALUES (3, 4, N'Cửa hàng còn cây Kim Ngân không?', 0, CAST(N'2025-01-19 10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [Content], [Status], [EmailCC]) VALUES (1, N'Tôi muốn tư vấn về cây phong thủy cho văn phòng', 1, N'khachhang@gmail.com')
INSERT [dbo].[Contact] ([ContactId], [Content], [Status], [EmailCC]) VALUES (2, N'Cây tôi mua bị vàng lá, cần tư vấn cách khắc phục', 0, N'khachhang2@gmail.com')
INSERT [dbo].[Contact] ([ContactId], [Content], [Status], [EmailCC]) VALUES (3, N'Cửa hàng có dịch vụ chăm sóc cây tại nhà không?', 1, N'khachhang3@gmail.com')
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[Credentials] ON 

INSERT [dbo].[Credentials] ([CredenId], [UserGroupId], [RoleId]) VALUES (1, N'ADMIN', N'ADD_USER')
INSERT [dbo].[Credentials] ([CredenId], [UserGroupId], [RoleId]) VALUES (2, N'MOD', N'ADD_PRODUCT')
INSERT [dbo].[Credentials] ([CredenId], [UserGroupId], [RoleId]) VALUES (3, N'MOD', N'UPDATE_PRODUCT')
SET IDENTITY_INSERT [dbo].[Credentials] OFF
INSERT [dbo].[News] ([NewsId], [Title], [Detail], [Photo], [DateUpdate]) VALUES (1, N'Cách chăm sóc cây Kim Ngân', N'Cây Kim Ngân là loại cây dễ chăm sóc, chỉ cần tưới nước 2-3 lần/tuần và đặt ở nơi có ánh sáng gián tiếp.', N'cach-cham-soc-kim-ngan.jpg', CAST(N'2025-01-10' AS Date))
INSERT [dbo].[News] ([NewsId], [Title], [Detail], [Photo], [DateUpdate]) VALUES (2, N'Ý nghĩa phong thủy của cây Lưỡi Hổ', N'Cây Lưỡi Hổ có tác dụng trừ tà, xua đuổi vận xui và mang lại may mắn cho gia chủ.', N'y-nghia-phong-thuy-luoi-ho.jpg', CAST(N'2025-01-12' AS Date))
INSERT [dbo].[News] ([NewsId], [Title], [Detail], [Photo], [DateUpdate]) VALUES (3, N'Top 5 cây cảnh lọc không khí tốt nhất', N'Các loại cây như Trầu Bà, Lan Ý, Lưỡi Hổ có khả năng lọc không khí rất tốt, thích hợp cho văn phòng và nhà ở.', N'top-5-cay-loc-khong-khi.jpg', CAST(N'2025-01-14' AS Date))
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [ShipName], [UserId], [ShipPhone], [ShipEmail], [UpdateDate], [ShipAddress], [StatusId], [CreatedDate]) VALUES (3159, N'dao anh vu', 2047, N'01841048932', N'daoanhvu3001@gmail.com', CAST(N'2025-12-18 21:56:03.950' AS DateTime), N'huế', 5, CAST(N'2025-12-18 15:09:22.963' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [ShipName], [UserId], [ShipPhone], [ShipEmail], [UpdateDate], [ShipAddress], [StatusId], [CreatedDate]) VALUES (3160, N'dao anh vu', 2047, N'01841048932', N'daoanhvu3001@gmail.com', CAST(N'2025-12-18 15:13:40.353' AS DateTime), N'huế', 5, CAST(N'2025-12-18 15:10:39.380' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [ShipName], [UserId], [ShipPhone], [ShipEmail], [UpdateDate], [ShipAddress], [StatusId], [CreatedDate]) VALUES (3161, N'dao anh vu', 2047, N'01841048932', N'daoanhvu3001@gmail.com', CAST(N'2025-12-18 16:39:51.617' AS DateTime), N'huế', 5, CAST(N'2025-12-18 16:36:36.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity], [VariantId], [VariantInfo]) VALUES (3184, 3159, 14, 85000, 1, 18, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity], [VariantId], [VariantInfo]) VALUES (3185, 3160, 14, 65000, 1, 17, NULL)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Price], [Quantity], [VariantId], [VariantInfo]) VALUES (3186, 3161, 14, 85000, 1, 18, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Price], [Quantity], [CateId], [Photo], [StartDate], [EndDate], [Discount], [IsActive]) VALUES (1, N'Cây Kim Ngân', N'Cây phong thủy mang lại tài lộc, thích hợp để bàn làm việc', 250000, 20, 3, N'cay-kim-ngan.jpg', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 10, 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Price], [Quantity], [CateId], [Photo], [StartDate], [EndDate], [Discount], [IsActive]) VALUES (2, N'Cây Lưỡi Hổ', N'Cây lọc không khí, dễ chăm sóc, thích hợp phòng ngủ', 180000, 0, 2, N'cay-luoi-ho.jpg', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 0, 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Price], [Quantity], [CateId], [Photo], [StartDate], [EndDate], [Discount], [IsActive]) VALUES (3, N'Cây Trầu Bà', N'Cây dây leo trang trí, thanh lọc không khí', 120000, 90, 16, N'cay-trau-ba.jpg', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 5, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([VariantId], [ProductId], [SKU], [Price], [SalePrice], [StockQuantity], [ImageVariant], [IsActive], [CreatedAt], [WarehouseId]) VALUES (1, 1, N'VAR-1-1', CAST(250000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 11, NULL, 1, CAST(N'2025-12-14 22:29:17.500' AS DateTime), 1)
INSERT [dbo].[ProductVariant] ([VariantId], [ProductId], [SKU], [Price], [SalePrice], [StockQuantity], [ImageVariant], [IsActive], [CreatedAt], [WarehouseId]) VALUES (2, 1, N'VAR-1-2', CAST(300000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 8, NULL, 1, CAST(N'2025-12-14 22:29:17.507' AS DateTime), 1)
INSERT [dbo].[ProductVariant] ([VariantId], [ProductId], [SKU], [Price], [SalePrice], [StockQuantity], [ImageVariant], [IsActive], [CreatedAt], [WarehouseId]) VALUES (6, 5, N'VAR-5-7', CAST(80000.00 AS Decimal(18, 2)), NULL, 100, NULL, 1, CAST(N'2025-12-14 22:29:17.507' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
SET IDENTITY_INSERT [dbo].[ProductVariant_Old] ON 

INSERT [dbo].[ProductVariant_Old] ([VariantId], [ProductId], [VariantName], [Size], [TinhTrang], [ReType], [ChatLieuChau], [MauSac], [PriceAdjustment], [Stock], [IsActive], [SizeNote]) VALUES (1, 1, N'Kim Ngân - Size S - Cây giống', N'S', N'Cây giống', N'Rễ trần', NULL, NULL, 0, 20, 1, N'Cao 20–30cm | Cây giống')
INSERT [dbo].[ProductVariant_Old] ([VariantId], [ProductId], [VariantName], [Size], [TinhTrang], [ReType], [ChatLieuChau], [MauSac], [PriceAdjustment], [Stock], [IsActive], [SizeNote]) VALUES (2, 1, N'Kim Ngân - Size M - Trưởng thành', N'M', N'Trưởng thành', N'Có bầu đất', NULL, NULL, 50000, 15, 1, N'Cao 40–60cm | Trưởng thành')
INSERT [dbo].[ProductVariant_Old] ([VariantId], [ProductId], [VariantName], [Size], [TinhTrang], [ReType], [ChatLieuChau], [MauSac], [PriceAdjustment], [Stock], [IsActive], [SizeNote]) VALUES (4, 2, N'Lưỡi Hổ - Size S', N'S', N'Cây giống', N'Rễ trần', NULL, NULL, 0, 30, 1, N'Cao 15–25cm | Cây giống')
SET IDENTITY_INSERT [dbo].[ProductVariant_Old] OFF
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([ProviderId], [Name], [Address], [Phone], [IsActive]) VALUES (1, N'Vườn ươm Cây Xanh Miền Trung', N'Thừa Thiên Huế', 234567890, 1)
INSERT [dbo].[Provider] ([ProviderId], [Name], [Address], [Phone], [IsActive]) VALUES (2, N'Trang trại Hoa Kiểng Đà Lạt', N'Đà Lạt, Lâm Đồng', 345678901, 1)
INSERT [dbo].[Provider] ([ProviderId], [Name], [Address], [Phone], [IsActive]) VALUES (3, N'Nhà vườn Sài Gòn Xanh', N'TP. Hồ Chí Minh', 456789012, 0)
SET IDENTITY_INSERT [dbo].[Provider] OFF
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (N'ADD_ADMIN', N'Thêm quản trị viên')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (N'ADD_CATE', N'Thêm danh mục')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (N'ADD_NEWS', N'Thêm tin tức')
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (1, N'Đã tiếp nhận')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (3, N'Đang giao hàng')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[StockCheck] ON 

INSERT [dbo].[StockCheck] ([CheckId], [Code], [WarehouseId], [CheckDate], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [CompletedAt]) VALUES (1, N'KC202512160001', 1, CAST(N'2025-12-16 00:00:00.000' AS DateTime), NULL, N'Cancelled', 1, 1, CAST(N'2025-12-16 19:54:55.560' AS DateTime), CAST(N'2025-12-16 20:04:23.060' AS DateTime))
INSERT [dbo].[StockCheck] ([CheckId], [Code], [WarehouseId], [CheckDate], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [CompletedAt]) VALUES (2, N'KC202512160002', 1, CAST(N'2025-12-16 00:00:00.000' AS DateTime), NULL, N'Approved', 1, 1, CAST(N'2025-12-16 19:56:18.470' AS DateTime), CAST(N'2025-12-16 19:56:18.470' AS DateTime))
INSERT [dbo].[StockCheck] ([CheckId], [Code], [WarehouseId], [CheckDate], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [CompletedAt]) VALUES (3, N'KC202512160003', 2, CAST(N'2025-12-16 00:00:00.000' AS DateTime), NULL, N'Approved', 1, 1, CAST(N'2025-12-16 20:05:11.233' AS DateTime), CAST(N'2025-12-16 20:05:11.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockCheck] OFF
SET IDENTITY_INSERT [dbo].[StockCheckDetail] ON 

INSERT [dbo].[StockCheckDetail] ([DetailId], [CheckId], [VariantId], [SystemQuantity], [ActualQuantity], [Difference], [Note]) VALUES (1, 1, 1, 10, 11, 1, NULL)
INSERT [dbo].[StockCheckDetail] ([DetailId], [CheckId], [VariantId], [SystemQuantity], [ActualQuantity], [Difference], [Note]) VALUES (2, 2, 1, 11, 10, -1, NULL)
INSERT [dbo].[StockCheckDetail] ([DetailId], [CheckId], [VariantId], [SystemQuantity], [ActualQuantity], [Difference], [Note]) VALUES (3, 3, 6, 100, 100, 0, N'cây bị gãy')
SET IDENTITY_INSERT [dbo].[StockCheckDetail] OFF
SET IDENTITY_INSERT [dbo].[StockHistory] ON 

INSERT [dbo].[StockHistory] ([HistoryId], [WarehouseId], [VariantId], [Type], [ReferenceType], [ReferenceId], [QuantityBefore], [QuantityChange], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, N'IN', N'StockCheck', 1, 10, 1, 11, N'Kiểm kê kho - Chênh lệch: +1', 1, CAST(N'2025-12-16 19:54:56.143' AS DateTime))
INSERT [dbo].[StockHistory] ([HistoryId], [WarehouseId], [VariantId], [Type], [ReferenceType], [ReferenceId], [QuantityBefore], [QuantityChange], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (2, 1, 1, N'OUT', N'StockCheck', 2, 11, 1, 10, N'Kiểm kê kho - Chênh lệch: -1', 1, CAST(N'2025-12-16 19:56:18.513' AS DateTime))
INSERT [dbo].[StockHistory] ([HistoryId], [WarehouseId], [VariantId], [Type], [ReferenceType], [ReferenceId], [QuantityBefore], [QuantityChange], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (3, 1, 1, N'IN', N'StockCheck', 1, 10, 1, 11, N'Kiểm kê kho - Chênh lệch: +1', 1, CAST(N'2025-12-16 19:58:54.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockHistory] OFF
SET IDENTITY_INSERT [dbo].[StockIn] ON 

INSERT [dbo].[StockIn] ([StockInId], [Code], [WarehouseId], [ProviderId], [Type], [TotalAmount], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (6, N'PN161225181217', 1, 1, N'purchase', CAST(750000.00 AS Decimal(18, 2)), N'kkkk', N'cancelled', 1, 1, CAST(N'2025-12-16 18:12:17.970' AS DateTime), CAST(N'2025-12-16 18:12:17.970' AS DateTime), NULL)
INSERT [dbo].[StockIn] ([StockInId], [Code], [WarehouseId], [ProviderId], [Type], [TotalAmount], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (7, N'PN181225235325', 2, 1, N'purchase', CAST(264.00 AS Decimal(18, 2)), N'ghi chú 1', N'approved', 1, 1, CAST(N'2025-12-18 23:53:25.233' AS DateTime), CAST(N'2025-12-18 23:53:25.233' AS DateTime), NULL)
INSERT [dbo].[StockIn] ([StockInId], [Code], [WarehouseId], [ProviderId], [Type], [TotalAmount], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (8, N'PN181225235909', 2, 1, N'purchase', CAST(132.00 AS Decimal(18, 2)), NULL, N'approved', 1, 1, CAST(N'2025-12-18 23:59:09.890' AS DateTime), CAST(N'2025-12-18 23:59:09.890' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StockIn] OFF
SET IDENTITY_INSERT [dbo].[StockInDetail] ON 

INSERT [dbo].[StockInDetail] ([DetailId], [StockInId], [VariantId], [Quantity], [UnitPrice], [TotalPrice], [Note]) VALUES (6, 6, 1, 3, CAST(250000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[StockInDetail] ([DetailId], [StockInId], [VariantId], [Quantity], [UnitPrice], [TotalPrice], [Note]) VALUES (7, 7, 124, 2, CAST(132.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[StockInDetail] ([DetailId], [StockInId], [VariantId], [Quantity], [UnitPrice], [TotalPrice], [Note]) VALUES (8, 8, 124, 1, CAST(132.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[StockInDetail] OFF
SET IDENTITY_INSERT [dbo].[StockOut] ON 

INSERT [dbo].[StockOut] ([StockOutId], [Code], [WarehouseId], [OrderId], [Type], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (1, N'PX161225184700', 1, NULL, N'Sale', N'kkkkk', N'approved', 1, 1, CAST(N'2025-12-16 18:47:00.947' AS DateTime), CAST(N'2025-12-16 18:47:00.947' AS DateTime), NULL)
INSERT [dbo].[StockOut] ([StockOutId], [Code], [WarehouseId], [OrderId], [Type], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (2, N'PX181225235520', 2, NULL, N'Damaged', N'ghi chú 2', N'approved', 1, 1, CAST(N'2025-12-18 23:55:20.617' AS DateTime), CAST(N'2025-12-18 23:55:20.617' AS DateTime), NULL)
INSERT [dbo].[StockOut] ([StockOutId], [Code], [WarehouseId], [OrderId], [Type], [Note], [Status], [CreatedBy], [ApprovedBy], [CreatedAt], [ApprovedAt], [CompletedAt]) VALUES (3, N'PX191225062547', 1, NULL, N'Damaged', N'kk', N'approved', 1, 1, CAST(N'2025-12-19 06:25:47.983' AS DateTime), CAST(N'2025-12-19 06:25:47.983' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StockOut] OFF
SET IDENTITY_INSERT [dbo].[StockOutDetail] ON 

INSERT [dbo].[StockOutDetail] ([DetailId], [StockOutId], [VariantId], [Quantity], [Note]) VALUES (1, 1, 1, 3, N'')
INSERT [dbo].[StockOutDetail] ([DetailId], [StockOutId], [VariantId], [Quantity], [Note]) VALUES (2, 2, 124, 2, N'')
INSERT [dbo].[StockOutDetail] ([DetailId], [StockOutId], [VariantId], [Quantity], [Note]) VALUES (3, 3, 1, 1, N'hỏng hóc')
SET IDENTITY_INSERT [dbo].[StockOutDetail] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Name], [Address], [Phone], [Username], [Password], [Email], [GroupId], [Status]) VALUES (1, N'Admin Quản Trị', N'123 Nguyễn Huệ, Huế', 123456789, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'admin@caycanh.com', N'ADMIN', 1)
INSERT [dbo].[User] ([UserId], [Name], [Address], [Phone], [Username], [Password], [Email], [GroupId], [Status]) VALUES (2, N'Nhân Viên 1', N'456 Lê Lợi, Huế', 987654321, N'nhanvien1', N'c26be8aaf53b15054896983b43eb6a65', N'nv1@caycanh.com', N'MOD', 0)
INSERT [dbo].[User] ([UserId], [Name], [Address], [Phone], [Username], [Password], [Email], [GroupId], [Status]) VALUES (3, N'Khách Hàng A', N'789 Hùng Vương, Huế', 912345678, N'khachhang1', N'e10adc3949ba59abbe56e057f20f883e', N'kh1@gmail.com', N'USER', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserGroups] ([GroupId], [Name]) VALUES (N'ADMIN', N'Quản trị viên')
INSERT [dbo].[UserGroups] ([GroupId], [Name]) VALUES (N'MOD', N'Nhân viên')
INSERT [dbo].[UserGroups] ([GroupId], [Name]) VALUES (N'USER', N'Khách hàng')
INSERT [dbo].[VariantAttributeValue] ([VariantId], [ValueId], [AttributeId]) VALUES (1, 2, 1)
INSERT [dbo].[VariantAttributeValue] ([VariantId], [ValueId], [AttributeId]) VALUES (2, 3, 1)
INSERT [dbo].[VariantAttributeValue] ([VariantId], [ValueId], [AttributeId]) VALUES (6, 2, 1)
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([WarehouseId], [Code], [Name], [Address], [Phone], [ManagerName], [ManagerPhone], [Type], [IsActive], [CreatedAt]) VALUES (1, N'KHO-HUE', N'Kho Trung Tâm Huế', N'123 Nguyễn Huệ, Huế', NULL, N'Nguyễn Văn A', NULL, N'Sub', 1, CAST(N'2025-12-14 22:41:54.803' AS DateTime))
INSERT [dbo].[Warehouse] ([WarehouseId], [Code], [Name], [Address], [Phone], [ManagerName], [ManagerPhone], [Type], [IsActive], [CreatedAt]) VALUES (2, N'KHO-CN1', N'Chi Nhánh 1', N'456 Lê Lợi, Huế', NULL, N'Đào Anh Vũ', NULL, N'Main', 0, CAST(N'2025-12-14 22:41:54.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Attribut__A25C5AA7A64C57FC]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[Attribute] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ProductV__CA1ECF0D9C0A2806]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[ProductVariant] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__StockChe__A25C5AA7ACAE51FF]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[StockCheck] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_StockIn_Code]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[StockIn] ADD  CONSTRAINT [UQ_StockIn_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__StockOut__A25C5AA7C8D52E56]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[StockOut] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Warehous__A25C5AA7771380D7]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[Warehouse] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Warehouse_Variant]    Script Date: 1/8/2026 7:50:23 PM ******/
ALTER TABLE [dbo].[WarehouseStock] ADD  CONSTRAINT [UQ_Warehouse_Variant] UNIQUE NONCLUSTERED 
(
	[WarehouseId] ASC,
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ('select') FOR [DisplayType]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  CONSTRAINT [DF__Attribute__Displ__1C873BEC]  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  CONSTRAINT [DF__Attribute__IsAct__1D7B6025]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  CONSTRAINT [DF__ChatMessa__IsFro__6FB49575]  DEFAULT ((0)) FOR [IsFromAdmin]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  CONSTRAINT [DF__ChatMessa__SentA__70A8B9AE]  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__CreatedDa__7167D3BD]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariant_Old] ADD  DEFAULT ((0)) FOR [PriceAdjustment]
GO
ALTER TABLE [dbo].[ProductVariant_Old] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductVariant_Old] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Provider] ADD  CONSTRAINT [DF_Provider_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockCheck] ADD  DEFAULT ('draft') FOR [Status]
GO
ALTER TABLE [dbo].[StockCheck] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockIn] ADD  CONSTRAINT [DF__StockIn__Type__477199F1]  DEFAULT ('purchase') FOR [Type]
GO
ALTER TABLE [dbo].[StockIn] ADD  CONSTRAINT [DF__StockIn__TotalAm__4865BE2A]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[StockIn] ADD  CONSTRAINT [DF__StockIn__Status__4959E263]  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[StockIn] ADD  CONSTRAINT [DF__StockIn__Created__4A4E069C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockOut] ADD  DEFAULT ('sale') FOR [Type]
GO
ALTER TABLE [dbo].[StockOut] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[StockOut] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT ('main') FOR [Type]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Warehouse] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarehouseStock] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[WarehouseStock] ADD  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[WarehouseStock] ADD  DEFAULT ((0)) FOR [MaxStock]
GO
ALTER TABLE [dbo].[WarehouseStock] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_AttrValue_Attr] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attribute] ([AttributeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeValue] CHECK CONSTRAINT [FK_AttrValue_Attr]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK__CartItem__Produc__11158940] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK__CartItem__Produc__11158940]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant_Old] ([VariantId])
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK__ChatMessa__UserI__719CDDE7] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK__ChatMessa__UserI__719CDDE7]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.Product_ProductId]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.ProductVariant_VariantId] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.ProductVariant_VariantId]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.User_UserId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Variant]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Warehouse]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_Variant_Product]
GO
ALTER TABLE [dbo].[ProductVariant_Old]  WITH CHECK ADD  CONSTRAINT [FK__ProductVa__Produ__0B5CAFEA] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductVariant_Old] CHECK CONSTRAINT [FK__ProductVa__Produ__0B5CAFEA]
GO
ALTER TABLE [dbo].[StockCheck]  WITH CHECK ADD  CONSTRAINT [FK_StockCheck_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[StockCheck] CHECK CONSTRAINT [FK_StockCheck_CreatedBy]
GO
ALTER TABLE [dbo].[StockCheck]  WITH CHECK ADD  CONSTRAINT [FK_StockCheck_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockCheck] CHECK CONSTRAINT [FK_StockCheck_Warehouse]
GO
ALTER TABLE [dbo].[StockCheckDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckDetail_Check] FOREIGN KEY([CheckId])
REFERENCES [dbo].[StockCheck] ([CheckId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockCheckDetail] CHECK CONSTRAINT [FK_CheckDetail_Check]
GO
ALTER TABLE [dbo].[StockCheckDetail]  WITH CHECK ADD  CONSTRAINT [FK_CheckDetail_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[StockCheckDetail] CHECK CONSTRAINT [FK_CheckDetail_Variant]
GO
ALTER TABLE [dbo].[StockHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[StockHistory] CHECK CONSTRAINT [FK_History_CreatedBy]
GO
ALTER TABLE [dbo].[StockHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[StockHistory] CHECK CONSTRAINT [FK_History_Variant]
GO
ALTER TABLE [dbo].[StockHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockHistory] CHECK CONSTRAINT [FK_History_Warehouse]
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[StockIn] CHECK CONSTRAINT [FK_StockIn_CreatedBy]
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Provider] ([ProviderId])
GO
ALTER TABLE [dbo].[StockIn] CHECK CONSTRAINT [FK_StockIn_Provider]
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockIn] CHECK CONSTRAINT [FK_StockIn_Warehouse]
GO
ALTER TABLE [dbo].[StockInDetail]  WITH CHECK ADD  CONSTRAINT [FK_StockInDetail_StockIn] FOREIGN KEY([StockInId])
REFERENCES [dbo].[StockIn] ([StockInId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockInDetail] CHECK CONSTRAINT [FK_StockInDetail_StockIn]
GO
ALTER TABLE [dbo].[StockInDetail]  WITH CHECK ADD  CONSTRAINT [FK_StockInDetail_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[StockInDetail] CHECK CONSTRAINT [FK_StockInDetail_Variant]
GO
ALTER TABLE [dbo].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[StockOut] CHECK CONSTRAINT [FK_StockOut_CreatedBy]
GO
ALTER TABLE [dbo].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[StockOut] CHECK CONSTRAINT [FK_StockOut_Order]
GO
ALTER TABLE [dbo].[StockOut]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockOut] CHECK CONSTRAINT [FK_StockOut_Warehouse]
GO
ALTER TABLE [dbo].[StockOutDetail]  WITH CHECK ADD  CONSTRAINT [FK_StockOutDetail_StockOut] FOREIGN KEY([StockOutId])
REFERENCES [dbo].[StockOut] ([StockOutId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockOutDetail] CHECK CONSTRAINT [FK_StockOutDetail_StockOut]
GO
ALTER TABLE [dbo].[StockOutDetail]  WITH CHECK ADD  CONSTRAINT [FK_StockOutDetail_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[StockOutDetail] CHECK CONSTRAINT [FK_StockOutDetail_Variant]
GO
ALTER TABLE [dbo].[VariantAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK__VariantAt__Value__28ED12D1] FOREIGN KEY([ValueId])
REFERENCES [dbo].[AttributeValue] ([ValueId])
GO
ALTER TABLE [dbo].[VariantAttributeValue] CHECK CONSTRAINT [FK__VariantAt__Value__28ED12D1]
GO
ALTER TABLE [dbo].[VariantAttributeValue]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
GO
ALTER TABLE [dbo].[VariantAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributeValue_Attribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attribute] ([AttributeId])
GO
ALTER TABLE [dbo].[VariantAttributeValue] CHECK CONSTRAINT [FK_VariantAttributeValue_Attribute]
GO
ALTER TABLE [dbo].[WarehouseStock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariant] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseStock] CHECK CONSTRAINT [FK_Stock_Variant]
GO
ALTER TABLE [dbo].[WarehouseStock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[WarehouseStock] CHECK CONSTRAINT [FK_Stock_Warehouse]
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveStockIn]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. STORED PROCEDURES

-- SP nhập kho
CREATE PROCEDURE [dbo].[sp_ApproveStockIn]
    @StockInId INT,
    @ApprovedBy INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM [StockIn] WHERE StockInId = @StockInId AND Status = 'pending')
        BEGIN
            RAISERROR(N'Phiếu nhập không tồn tại hoặc đã được duyệt', 16, 1);
            RETURN;
        END
        
        DECLARE @WarehouseId INT;
        SELECT @WarehouseId = WarehouseId FROM [StockIn] WHERE StockInId = @StockInId;
        
        UPDATE ws
        SET 
            ws.Quantity = ws.Quantity + sid.Quantity,
            ws.UpdatedAt = GETDATE()
        FROM [WarehouseStock] ws
        INNER JOIN [StockInDetail] sid ON ws.VariantId = sid.VariantId
        WHERE sid.StockInId = @StockInId AND ws.WarehouseId = @WarehouseId;
        
        INSERT INTO [StockHistory] ([WarehouseId], [VariantId], [Type], [ReferenceType], [ReferenceId],
                                    [QuantityBefore], [QuantityChange], [QuantityAfter], [CreatedBy])
        SELECT 
            @WarehouseId,
            sid.VariantId,
            'in',
            'stock_in',
            @StockInId,
            ws.Quantity - sid.Quantity,
            sid.Quantity,
            ws.Quantity,
            @ApprovedBy
        FROM [StockInDetail] sid
        INNER JOIN [WarehouseStock] ws ON sid.VariantId = ws.VariantId AND ws.WarehouseId = @WarehouseId
        WHERE sid.StockInId = @StockInId;
        
        UPDATE [StockIn]
        SET Status = 'completed', ApprovedBy = @ApprovedBy, ApprovedAt = GETDATE(), CompletedAt = GETDATE()
        WHERE StockInId = @StockInId;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveStockOut]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP xuất kho
CREATE PROCEDURE [dbo].[sp_ApproveStockOut]
    @StockOutId INT,
    @ApprovedBy INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM [StockOut] WHERE StockOutId = @StockOutId AND Status = 'pending')
        BEGIN
            RAISERROR(N'Phiếu xuất không tồn tại hoặc đã được duyệt', 16, 1);
            RETURN;
        END

        DECLARE @WarehouseId INT;
        SELECT @WarehouseId = WarehouseId FROM [StockOut] WHERE StockOutId = @StockOutId;

        IF EXISTS (
            SELECT 1
            FROM [StockOutDetail] sod
            INNER JOIN [WarehouseStock] ws ON sod.VariantId = ws.VariantId AND ws.WarehouseId = @WarehouseId
            WHERE sod.StockOutId = @StockOutId
            AND ws.Quantity < sod.Quantity
        )
        BEGIN
            RAISERROR(N'Tồn kho không đủ để xuất', 16, 1);
            RETURN;
        END

        UPDATE ws
        SET ws.Quantity = ws.Quantity - sod.Quantity, ws.UpdatedAt = GETDATE()
        FROM [WarehouseStock] ws
        INNER JOIN [StockOutDetail] sod ON ws.VariantId = sod.VariantId
        WHERE sod.StockOutId = @StockOutId AND ws.WarehouseId = @WarehouseId;

        INSERT INTO [StockHistory] ([WarehouseId], [VariantId], [Type], [ReferenceType], [ReferenceId],
                                    [QuantityBefore], [QuantityChange], [QuantityAfter], [CreatedBy])
        SELECT 
            @WarehouseId,
            sod.VariantId,
            'out',
            'stock_out',
            @StockOutId,
            ws.Quantity + sod.Quantity,
            -sod.Quantity,
            ws.Quantity,
            @ApprovedBy
        FROM [StockOutDetail] sod
        INNER JOIN [WarehouseStock] ws ON sod.VariantId = ws.VariantId AND ws.WarehouseId = @WarehouseId
        WHERE sod.StockOutId = @StockOutId;

        UPDATE [StockOut]
        SET Status = 'completed', ApprovedBy = @ApprovedBy, ApprovedAt = GETDATE(), CompletedAt = GETDATE()
        WHERE StockOutId = @StockOutId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateStockOutFromOrder]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP xuất kho từ đơn hàng
CREATE PROCEDURE [dbo].[sp_CreateStockOutFromOrder]
    @OrderId INT,
    @WarehouseId INT,
    @CreatedBy INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @Code VARCHAR(50) = 'PX' + FORMAT(GETDATE(), 'yyyyMMdd') + RIGHT('00000' + CAST(@OrderId AS VARCHAR), 5);
        DECLARE @StockOutId INT;

        INSERT INTO [StockOut] ([Code], [WarehouseId], [OrderId], [Type], [Status], [CreatedBy])
        VALUES (@Code, @WarehouseId, @OrderId, 'sale', 'pending', @CreatedBy);
        SET @StockOutId = SCOPE_IDENTITY();

        INSERT INTO [StockOutDetail] ([StockOutId], [VariantId], [Quantity])
        SELECT @StockOutId, od.VariantId, od.Quantity
        FROM [OrderDetail] od
        WHERE od.OrderId = @OrderId AND od.VariantId IS NOT NULL;

        EXEC sp_ApproveStockOut @StockOutId, @CreatedBy;

        COMMIT TRANSACTION;

        SELECT @StockOutId AS StockOutId, @Code AS Code;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductAttributes]    Script Date: 1/8/2026 7:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductAttributes]
    @ProductId INT
AS
BEGIN
    SELECT DISTINCT
        a.AttributeId,
        a.Name,
        av.ValueId,
        av.DisplayValue
    FROM Attribute a
    JOIN AttributeValue av ON a.AttributeId = av.AttributeId
    JOIN VariantAttributeValue vav ON av.ValueId = vav.ValueId
    JOIN ProductVariant pv ON pv.VariantId = vav.VariantId
    WHERE pv.ProductId = @ProductId
      AND pv.IsActive = 1;
END;

GO
