@{
    ViewBag.Title = "ForgotPassword";
    
}
<h2>Quên mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label>Email</label>
    <input type="email" name="email" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-primary">Gửi</button>
}

<p style="color:green">@ViewBag.Message</p>
